<div class="brand">
  <span class="brand-mark">PP</span>
  <strong>PocketPilotAI</strong>
</div>

<nav class="nav-links">
  <NavLink href="/overview" Match="NavLinkMatch.All">Overview</NavLink>
  <NavLink href="/transactions">Transactions</NavLink>
  <NavLink href="/add-transaction">Add</NavLink>
  <NavLink href="/insights">Insights</NavLink>
</nav>
